<div class="container">

<div class="second_component">
  <div class="col-md-6">
  <h4 class="heading1">Video Tutorials </h4>
  <br>


    <div class="thumbnail">
    <div class="row">
      <div class="col-md-4">
         <img src="./assets/user.jfif" class="second_img"/> 
      </div>
      <div class="col-md-4">
         <p class="second_text"><b>Add users</b></p>
        <p class="subtext">Learn how to add users.</p>     
      </div>
        <div class="col-md-4">
          <button class="button">PLAY VIDEO</button>        
        </div>      
    </div>  
    </div>  
  

    <div class="thumbnail">
    <div class="row">
      <div class="col-md-4">
          <img src="./assets/devices.jfif" class="second_img"/>
      </div>
      <div class="col-md-4">
         <p class="second_text"><b>Add devices</b></p>
        <p class="subtext">A brief video on adding devices</p>     </div>
        <div class="col-md-4">
          <button class="button">PLAY VIDEO</button>        
        </div>      
    </div> 
    </div>   
 
    <div class="thumbnail">
    <div class="row">
      <div class="col-md-4">
         <img src="./assets/assignment.png" class="second_img"/>
      </div>
      <div class="col-md-4">
         <p class="second_text"><b>Roles and role assignments</b></p>
        <p class="subtext">Using roles and creating role assignments in Netop Portal</p>    
         </div>
        <div class="col-md-4">
          <button class="button">PLAY VIDEO</button>        
        </div>      
    </div>
    </div>    
 
  
  </div>
</div>
  





<div class="third_component">
<div class="col-md-6">
  <h4 class="heading1">Recent Updates</h4>
  <br>

  <div class="thumbnail">
  <div class="row">
    <div class="col-md-1">
       <button class="btn" data-toggle="collapse" data-target="#demo1">23
       </button>
    </div>
    <div class="col-md-11">
      <p class="subtext_3">Permisions associated with Roles have been updated to better align with their descriptions.Specific permissions were added or removed as needed for each role to ensure the total set of permissions corresponds to the description on the role.</p>
      <div id="demo1" class="collapse">
        Problem number 23 has been worked on and necessary updates are been done.        
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-1">
       <button class="btn" data-toggle="collapse" data-target="#demo2">18
       </button>
    </div>
    <div class="col-md-11">
      <p class="subtext_3">A notification bar has been added to alert users of important information and announcements</p>
      <div id="demo2" class="collapse">
        Problem number 18 has been worked on and necessary updates are been done.        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
       <button class="btn" data-toggle="collapse" data-target="#demo3">12
       </button>
    </div>
    <div class="col-md-11">
      <p class="subtext_3">Email validation is now available from user profile screen. Email validation provides a recovery email address that can be used in case </p>
      <div id="demo3" class="collapse">
        Problem number 12 has been worked on and necessary updates are been done.        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
       <button class="btn" data-toggle="collapse" data-target="#demo4">10
       </button>
    </div>
    <div class="col-md-11">
      <p class="subtext_3">A recent update panel was added to prtal dashboard screen to provide information on changes made to Netop Remote Control and Netop Portal. </p>
      <div id="demo4" class="collapse">
        Problem number 10 has been worked on and necessary updates are been done.        
      </div>
    </div>
  </div>

</div>
</div> 
</div>


</div>










