<div class="container">

<br>
<form class="example">
<span class="glyphicon glyphicon-search search-icon"></span>
<input type="text" placeholder="Type for smart search" name="search">
</form>
<button class="search" type="submit"> PURCHASE</button>
<br>

<p class="quick">Quick access</p>
      <div class="row">
        <div class="col-md-3">
          <div class="thumbnail">
            
              <a href="assets/im1.jfif" target="_blank">
    <img src="assets/im1.jfif" class="images" alt="Image 1">
    <div class="caption">
    <p class="img_text">Home</p></div>
    </a>           
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            
              <a href="assets/im2.jfif" target="_blank">
    <img src="assets/im2.jfif" class="images" alt="Image 2" > 
    <p class="img_text">iMac Work</p> 
    </a>
            
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
              <a href="assets/im3.jfif" target="_blank">
  <img src="assets/im3.jfif" class="images" alt="Image 3">
  <p class="img_text">iMac Offices</p>
</a>
              
            
          </div>
        </div>
            <div class="col-md-3">
              <div class="thumbnail">
                <a href="assets/im4.jfif" target="Image 4">
  <img src="assets/im4.jfif" class="images" alt="Image 4">
  <p class="img_text">My iPhone</p> </a>
                
              </div>
            </div>
     






<br>

<app-componenet-trial></app-componenet-trial>

</div>



      



  
